# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside

*.DS_Store
.DS_Store
MooDBall/MooDBall/.DS_Store
MooDBall/MoodTests/.DS_Store
MooDBall/.DS_Store
MoodBall/.idea/.DS_Store
MoodBall/.idea/.name
MoodBall/.idea/encodings.xml
MoodBall/.idea/misc.xml
MoodBall/.idea/modules.xml
MoodBall/.idea/MooDBall.iml
MoodBall/.idea/scopes
MoodBall/.idea/scopes/scope_settings.xml
MoodBall/.idea/vcs.xml
MoodBall/.idea/workspace.xml
MoodBall/.idea/xcode.xml
MoodBall/.idea/*

MooDBall/MooDBall.xcodeproj/project.pbxproj
MooDBall/MooDBall.xcodeproj/